@font-face {
  font-family: xfont;
  src: url(CursedTimerULiL.ttf);
}

body {
    margin: 0;
    background: #E5E5E5;
    color: white;
    font-family: xfont;
}
#main_container{
    width: 575px;
    height: 385px;
    background: #1B244A;
    margin: auto;
    display: flex;
    flex-direction:column;
}
#second_container{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}
.second_childs{
    font-family: xfont;
    background: #1B244A;
    color: white;
    border: 2px solid #9AABD8;
    border-radius: 6px;
}
#new_game{
    position: relative;
    right: 7px;
}
#counter{
    padding: 8px 16px;
    position: relative;
    left: -9px;
}
.container {
    display: flex;
    justify-content: space-around;

}

.main{
    font-family: Verdana;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}
.score_box{
    height: 120px;
    width: 155px;
    left: 337px;
    top: 125px;
    border-radius: 5px;
    background: black;
}
.score{
    color: #F94F6D;
    text-align: center;
    font-size: 90px;
    padding: 10px 25px 10px 15px;
    
}
.button_parent{
    display: flex;
    justify-content: space-around;
    margin-top: 26px;
}
.score_incr{
    color: #9AABD8;
    height: 45px;
    width: 45px;
    background: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 10px 10px 8px 10px;
    font-family: xfont;
    margin-left: auto;
    margin-right: auto;
}
.score_incr:hover{
    font-size: 20px;
    width: 47px;
}